*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;

}
.intregration-main{
    display: flex;
    margin-top: 15px;
    border-radius: 5px;
}
.intregration-main-list{
    flex-direction: row;
    flex: 1;
}
.card{
    margin: 15px;
    margin-top: 15px;
    padding: 20px 45px;
    max-width: 250px;
}
.home-main{
    display: flex;
    margin-top: 80px;
    border-radius: 5px;
}
.home-main-list{
    flex-direction: row;
    flex: 1;
}
.card{
    margin-top: 10px;
    margin-left: 15px;
    padding: 20px 45px;
    max-width: 250px;
    box-shadow: 5px 5px 5px 2px hsla(0, 6%, 10%, 0.4);
 
}
.FeedBack{
    margin-left: 100px;
}
.contactUs{
    margin-left: 100px;
}
.About{
    margin-left: 100px;
}